<%= form_for(@rush) do |f| %>
  <% if @rush.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rush.errors.count, "error") %> prohibited this rush from being saved:</h2>

      <ul>
      <% @rush.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mentions %><br />
    <%= f.number_field :mentions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
