<%= javascript_include_tag "voting"%>
<h1>Here are all Rushes who may be voted upon at this time.</h1>

<%= flash[:notice]%>
<table><tr><th>Matter</th><th>Vote</th><th></th></tr>
<% @rushes.each do |rush|%>
<tr>
	<td><%= rush.name%></td>
	<td><%= form_tag({:controller => "rushes", :action => "vote"}, :remote => true, :class => "vote_form" )  do %>
		
		<%= hidden_field_tag(:id, rush.id)%>
		<%= radio_button_tag(:vote, "Yes")%>
		<%= label_tag(:vote_Yes, "Yes")%>
		<%= radio_button_tag(:vote, "No")%>
		<%= label_tag(:vote_No, "No")%>
		<%= radio_button_tag(:vote, "Abstain", :checked => true)%>
		<%= label_tag(:vote_Abstain, "Abstain")%>
		<%= submit_tag("Vote")%>
		<%end%>
		</td><td class="notes"></td></tr>
<%end%>

