<h1>Listing rushes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mentions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= link_to 'New Rush', new_rush_path %>

<% @rushes.each do |rush| %>
  <tr>
    <td><%= rush.name %></td>
    <td><%= rush.mentions %></td>
    <td><%= link_to 'Show', rush %></td>
    <td><%= link_to 'Edit', edit_rush_path(rush) %></td>
    <td><%= link_to 'Destroy', rush, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


