<!DOCTYPE html>
<html>
<head>
  <title>OTVoting</title>
  <%= stylesheet_link_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Fresca' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div class="top">
    <%= link_to "Log Out", logout_path, :method => :delete%>
        <a href="https://docs.google.com/document/d/1m3cYwvCWtzMr54oApXaRevtQNsM07GOmXY_LVrqJrXM/edit?hl=en_US">Rush Interview Notes & Pics</a>
    </div>
<%= yield %>
<div id="bottom-bar">
    
</div>
</body>
</html>
